<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="url" value="https://change_me.crm6.dynamics.com/XRMServices/2011/Organization.svc" />
		<add key="method" value="ConnectionString"/>
		<add key="connectionString" value="AuthType=OAuth;Url=https://change_me.crm6.dynamics.com;Username=change_me@domain;Password=change_me;RedirectUri=http://localhost;AppId=51f81489-12ee-4a9e-aaae-a2591f45987d;LoginPrompt=Auto"/>
		<add key="out" value="../typings/XRM" />
		<add key="solutions" value="" />
		<add key="entities" value="account, contact,msnfp_configuration" />
		<add key="web" value="" />
		<add key="jsLib" value="../src/lib" /> 
		<add key="method" value="ConnectionString"/>
		<add key="oneFile" value="true" />
		<add key="skipInactiveForms" value="true" />
		<add key="rest" value="" />
	</appSettings>
</configuration>