<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="url" value="https://orge68fbed0.api.crm5.dynamics.com/XRMServices/2011/Organization.svc" />
		<add key="method" value="ConnectionString"/>
		<add key="connectionString" value="AuthType=OAuth;Url=https://orge68fbed0.crm5.dynamics.com/;Username=s3343711@gmail.com;ClientId={51f81489-12ee-4a9e-aaae-a2591f45987d};LoginPrompt=Auto;RedirectUri=app://58145b91-0c36-4500-8554-080854f2ac97/;"/>
		<add key="out" value="../typings/XRM" />
		<add key="solutions" value="" />
		<add key="entities" value="account, contact" />
		<add key="web" value="" />
		<add key="jsLib" value="../src/lib" /> 
		<add key="method" value="ConnectionString"/>
		<add key="oneFile" value="true" />
		<add key="skipInactiveForms" value="true" />
		
	</appSettings>
</configuration>